:root {
    --background-color: rgb(10, 14, 35);
    --border-color: rgba(255, 255, 255, 0.25);
}
body {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
h1,h2,h3,a,p,span {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: rgba(155, 150, 145, 85%)
}
a {
    text-decoration: none;
}
a:hover {
    color: rgb(155, 150, 145);
    transform: scale(1.05);
}
a:active {
    transform: scale(0.95);
}
a:focus {
    transform: translateY(10%);
    color: rgba(155, 150, 145, 50%)
}
nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
 
}
nav > .nav-section {
    padding: 1rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--border-color);

}
#nav-logo-section,
#nav-link-section{
    flex-basis: calc(100%/3);
}
#nav-sources-section,
#nav-contact-section {
    flex-grow: 1;


}
#nav-logo-section {
    justify-content: flex-start;
}
#nav-logo-section > a > i {
    font-size: 2.5rem;
}
#nav-link-section{
    gap: 6rem;
}
#nav-contact-section {
    gap:3rem;
    border-right: 1px solid var(--border-color);

}
svg {
    size: 3rem;
    fill:rgba(155, 150, 145, 85%);
}
main {
    flex-grow: 1;
    position: relative;
    overflow:hidden;
}
main > article {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 400ms ease;

}
main > article > .article-section {
    height: 100%;
    display: flex;
    border: 1px solid var(--border-color);
}
main > article > .article-title-section {
    flex-basis: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin: 0px;
    text-transform: uppercase;
}
main > article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
}
main > article[data-status="before"] {
    transform: translateX(-100%);
}
main > article[data-status="after"] {
    transform: translateX(100%);
}
main > article[data-status="active"] {
    transform: translateX(0%);
}
main > article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
}
main > article[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
}




