:root {
    background-color: rgb(6, 11, 25);
    border-color: rgb(255, 255, 255, 0.1);
}
body {
    background: var(--border-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}
nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}
nav > .nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
}

#nav-logo-section, 
#nav-link-section{
    flex-basis: calc(100%/3);
}
#nav-sources-section,
#nav-contact-section {
    flex-grow: 1;
}